<html>
	<head>
			<title>Casa da Folia | Festas e eventos infantis</title>
	</head>
	<body class="col-md-12">
	  	<div>
	  		<div class="primeiraParte">
	  			<div class="container">
	  				<div class="letraInicio">
	  					<div class="containerr">
						  <div>S</div>
						  <div></div>
						  <div>e</div>
						  <div></div>
						  <div>j</div>
						  <div></div>
						  <div>a</div>
						  <div></div>
						  <div>m</div>
						  <div></div>
						  <div></div>
						  <div>B</div>
						  <div></div>
						  <div>e</div>
						  <div></div>
						  <div>m</div>
						  <div></div>
						  <div>-</div>
						  <div></div>
						  <div>V</div>
						  <div></div>
						  <div>i</div>
						  <div></div>
						  <div>n</div>
						  <div></div>
						  <div>d</div>
						  <div></div>
						  <div>o</div>
						  <div></div>
						  <div>s</div>
						</div>	  	
	  				</div>
	  			</div>
	  		</div>
	  		<div class="segundaParte">
	  			<div class="container" style="height: 100%; width: 100%;">
	  				<div class="textoInterno">
	  					<h1 style="color: purple; margin-top: 10%; font-size: 3rem;">Sobre nós</h1>
		  				<p class="lead" style="color: purple; font-size: 1.3rem;">Especialistas em organizar todos os tipos de eventos para crianças e adolescentes, nós nos concentramos principalmente em aniversários. A Casa da Folia é a melhor casa de eventos infantis para as melhores comemorações de aniversário em Brasília.
		  				</p>
		  				<p class="lead" style="color: purple; font-size: 1.3rem;">As comemorações de aniversário são um momento especial para celebrar a vida de nossos bens mais valiosos: nossos filhos, netos, sobrinhos! E que melhor maneira de celebrar sua vida exuberante do que em um local de festa de dinamite? Organizamos uma lista eclética dos brinquedos preferidos das crianças, dos melhores monitores para cuidar da sua criança,tudo pensado em sua melhor comodidade. Tá esperando o que? <button click=(); class="btn btn-link" style="background-color: #00ffdc; font-size: 1.3rem; color: purple;">Reserve conosco</button>.
		  				</p>
		  			</div>
		  			<div class="imagemInterna">
		  				<figure class="figure">
		  					<img class="img-fluid" style="border-radius: 10px; height: 100%; width: 100%;" src="./../assets/158353604.jpg">
		  				</figure>
		  			</div>
		  			
	  			</div>
	  		</div>
	  		<div class="terceiraParte">
	  			<h1 style="text-align: center; color: purple;">Escolha seu pacote</h1>
	  			<div style="height: 100%; width: 100%;">
	  				<div class="primeiroPacote col-sm-4">
	  					<h5><p style="text-align: center; color: white;">Pacote 1</p></h5>
	  					<div>
	  						<p style="text-align: center; color: white;">Monitores</p>
	  						<p style="text-align: center; color: white;">Gerentes de Festa</p>
	  						<p style="text-align: center; color: white;">Recepcionistas</p>
	  						<p style="text-align: center; color: white;">Garçons</p>
	  						<p style="text-align: center; color: white;">Equipe Copa</p>
	  					</div>
	  					<p style="color: white;">Todos os brinquedos da casa estarão disponíveis. Tudo servido à vontade no período da festa. O evento terá duração de 3 horas e 30 minutos + 30 minutos de tolerância (4h).</p>
	  					<div style="text-align: center;">
	  						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  								+30 itens inclusos
							</button>

							<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header"	>
							        <h5 class="modal-title" id="exampleModalLabel">Folia 1</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        ...
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
							      </div>
							    </div>
							  </div>
							</div>
	  					</div>
	  				</div>

	  				<div class="segundoPacote col-sm-4">
	  					<h5><p style="text-align: center; color: white;">Folia 2</p></h5>	
	  					<div>
	  						<p style="text-align: center; color: white;">Monitores</p>
	  						<p style="text-align: center; color: white;">Gerentes de Festa</p>
	  						<p style="text-align: center; color: white;">Recepcionistas</p>
	  						<p style="text-align: center; color: white;">Garçons</p>
	  						<p style="text-align: center; color: white;">Equipe Copa</p>
	  					</div>
	  					<p style="color: white;">Todos os brinquedos da casa estarão disponíveis. Tudo servido à vontade no período da festa. O evento terá duração de 3 horas e 30 minutos + 30 minutos de tolerância (4h).</p>
	  					<div style="text-align: center;">
	  						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  								+20 itens inclusos
							</button>

							<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header"	>
							        <h5 class="modal-title" id="exampleModalLabel">Folia 2</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        ...
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
							      </div>
							    </div>
							  </div>
							</div>
	  					</div>
	  				</div>

	  				<div class="terceiroPacote col-sm-4">
	  					<h5><p style="text-align: center; color: white;">Folia Escola</p></h5>	
	  					<div>
	  						<p style="text-align: center; color: white;">Monitores</p>
	  						<p style="text-align: center; color: white;">Gerentes de Festa</p>
	  						<p style="text-align: center; color: white;">Recepcionistas</p>
	  						<p style="text-align: center; color: white;">Garçons</p>
	  						<p style="text-align: center; color: white;">Equipe Copa</p>
	  					</div>
	  					<p style="color: white;">Segunda à Quinta: 9h às 12h e 14h às 17h. Todos os brinquedos da casa liberados, exceto boate.</p>
	  					<div style="text-align: center;">
	  						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  								+11 itens inclusos
							</button>

							<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header"	>
							        <h5 class="modal-title" id="exampleModalLabel">Folia Escola</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        ...
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
							        <button type="button" class="btn btn-primary">Salvar mudanças</button>
							      </div>
							    </div>
							  </div>
							</div>
	  					</div>


	  				</div>
	  			</div>
	  		</div>

	  		<div class="quartaParte">
	  			
	  		</div>

	  	<footer class="rodape site-footer">
	  		<div class="footer-area-wrap">
	  			<div class="container">
	  				<section id="footer-area" class="footer-area widget-area row">
				  		<aside class="col-xs-12 col-sm-6 col-md-3 widget widget-about">
				  			<div style="margin-left: 40px; margin-top: 40px;">
				  				<img class="tamanhoImg"  src="./../assets/logo.png" alt="Casa da Folia">
				  			</div>
				  			<div style="margin-left: 60px; margin-top: 30px;">
				  				<i style="color: white; font-size: 1.29rem;" class="fa fa-facebook"></i>
				  				<i style="color: white; font-size: 1.29rem; margin-left: 20px;" class="fa fa-twitter"></i>
				  				<i style="color: white; font-size: 1.29rem; margin-left: 20px;" class="fa fa-pinterest"></i>
				  			</div>
				  		</aside>
				  		<aside style="margin-left: 60px; margin-top: 50px;" class="col-xs-12 col-sm-6 col-md-3 widget widget-about">
				  			<h3 class="widget-title" style=" margin-left:30px; color: white;">Contatos</h3>
				  			<div style="margin-top:40px;">
				  				<i style="color: white; font-size: 1.29rem;" class="fa fa-thumbtack">
				  				</i>
				  				<p style="margin-left: 40px; margin-top: -30px; color: white;">SCRS Qd 514 Bloco C Loja 14 Asa Sul, Brasília-DF 70.380-535</p>
				  			</div>
				  		</aside>
			  		</section>
		  		</div>
	  		</div>
	  	</footer>
	  </div>
	</body>
</html> 