<html>
	<head>
			<title>Casa da Folia | Festas e eventos infantis</title>
	</head>
	<body class="col-md-12">
	  	<div>
	  		<div class="primeiraParte">
	  			<div class="container">
	  				<div class="letraInicio">
	  					<div class="containerr">
						  <div>S</div>
						  <div></div>
						  <div>e</div>
						  <div></div>
						  <div>j</div>
						  <div></div>
						  <div>a</div>
						  <div></div>
						  <div>m</div>
						  <div></div>
						  <div></div>
						  <div>B</div>
						  <div></div>
						  <div>e</div>
						  <div></div>
						  <div>m</div>
						  <div></div>
						  <div>-</div>
						  <div></div>
						  <div>V</div>
						  <div></div>
						  <div>i</div>
						  <div></div>
						  <div>n</div>
						  <div></div>
						  <div>d</div>
						  <div></div>
						  <div>o</div>
						  <div></div>
						  <div>s</div>
						</div>	  	
	  				</div>
	  			</div>
	  		</div>
	  		<div class="segundaParte">
	  			<div class="container" style="height: 100%; width: 100%;">
	  				<div class="textoInterno">
	  					<h1 style="color: purple; margin-top: 10%; font-size: 3rem;">Sobre nós</h1>
		  				<p class="lead" style="color: purple; font-size: 1.3rem;">Especialistas em organizar todos os tipos de eventos para crianças e adolescentes, nós nos concentramos principalmente em aniversários. A Casa da Folia é a melhor casa de eventos infantis para as melhores comemorações de aniversário em Brasília.
		  				</p>
		  				<p class="lead" style="color: purple; font-size: 1.3rem;">As comemorações de aniversário são um momento especial para celebrar a vida de nossos bens mais valiosos: nossos filhos, netos, sobrinhos! E que melhor maneira de celebrar sua vida exuberante do que em um local de festa de dinamite? Organizamos uma lista eclética dos brinquedos preferidos das crianças, dos melhores monitores para cuidar da sua criança,tudo pensado em sua melhor comodidade. Tá esperando o que? <button click=(); class="btn btn-link" style="background-color: #00ffdc; font-size: 1.3rem; color: purple;">Reserve conosco</button>.
		  				</p>
		  			</div>
		  			<div class="imagemInterna">
		  				<figure class="figure">
		  					<img class="img-fluid" style="border-radius: 10px; height: 100%; width: 100%;" src="./../assets/158353604.jpg">
		  				</figure>
		  			</div>
		  			
	  			</div>
	  		</div>
	  		<div class="terceiraParte">
	  			<div style="height: 100%; width: 100%;">
	  				<div class="primeiroPacote">
	  					
	  				</div>
	  				<div class="segundoPacote">
	  					
	  				</div>
	  				<div class="terceiroPacote"></div>
	  			</div>
	  		</div>
	  		<div class="quartaParte">
	  			
	  		</div>

	  	<footer class="text-muted">
	  		<div class="container">
	  			<p><a href="./app-root">Casa da Folia</a> 2018</p>
	  			<p>Desenvolvido por Felipe Melo</p>
	  		</div>
	  	</footer>
	  </div>
	</body>
</html> 