<html>
<head>
  <title>Casa da Folia | Festas e eventos infantis</title>
</head>
<body class="col">
<div>
  <div class="primeiraParte">
    <div class="container">
      <div class="letraInicio">
        <div class="containerr">
          <div>S</div>
          <div></div>
          <div>e</div>
          <div></div>
          <div>j</div>
          <div></div>
          <div>a</div>
          <div></div>
          <div>m</div>
          <div></div>
          <div></div>
          <div>B</div>
          <div></div>
          <div>e</div>
          <div></div>
          <div>m</div>
          <div></div>
          <div>-</div>
          <div></div>
          <div>V</div>
          <div></div>
          <div>i</div>
          <div></div>
          <div>n</div>
          <div></div>
          <div>d</div>
          <div></div>
          <div>o</div>
          <div></div>
          <div>s</div>
        </div>
      </div>
    </div>
  </div>
  <div class="segundaParte">
    <div class="container" style="height: 100%; width: 100%;">
      <div class="textoInterno">
        <h1 style="color: purple; margin-top: 10%; font-size: 3rem;">Sobre nós</h1>
        <p class="lead" style="color: purple; font-size: 1.3rem;">Especialistas em organizar todos os tipos de eventos
          para crianças e adolescentes, nós nos concentramos principalmente em aniversários. Assim nasceu a casa de festas Casa da Folia, que vem desde então realizando festas para diversos púbicos infantis e jovens, respeitando a diversidade do ser humano e do meio ambiente.
        </p>
        <p class="lead" style="color: purple; font-size: 1.3rem;">Oferecemos qualidade em atendimento, alimentação, entretenimento e segurança, com ambiente preparado para realizar o sonho dos seus filhos. A casa foi planejada para oferecer comodidade e conforto para seus clientes em um ambiente climatizado. Possui monitores treinados para a tranquilidade dos pais, tornando seu evento inesquecível.
        </p>
        <h4 style="color: purple;">Sua alegria, nossa satisfação.</h4>
        
      </div>
      <div class="imagemInterna">
        <figure class="figure">
          <img class="img-fluid" style="border-radius: 10px; height: 100%; width: 100%;"
               src="./../assets/158353604.jpg">
        </figure>
      </div>
    </div>
  </div>

  <div class="galeria">
    <h1 style="text-align: center; color: purple; font-size: 4rem;">Galeria</h1>
    <div class="row" style="margin-top: 70px;">
      <div class="col-6">
        <img style="width: 570px; height: 631px; margin-left: 70px;" class=" img-fluid" src="./../assets/570x640.png">
        <img style="width: 570px; height: 300px; margin-top: 30px; margin-left: 70px;" class="img-fluid"
             src="./../assets/11.png">
      </div>
      <div class="col-6">
        <img style="width: 570px; height: 300px;" class="img-fluid" src="./../assets/20.png">
        <img style="width: 570px; height: 300px; margin-top: 30px;" class="img-fluid" src="./../assets/13.png">
        <img style="width: 570px; height: 300px; margin-top: 30px;" class="img-fluid" src="./../assets/14.png">
      </div>
    </div>
    <div style="margin-top: 50px;"></div>
  </div>

  <div class="terceiraParte">
    <h1 style="text-align: center; color: purple;">Escolha seu pacote</h1>
    <div style="height: 100%; width: 100%;">
      <div class="primeiroPacote col-sm">
        <h5><p style="text-align: center; color: white;">Folia 1</p></h5>
        <div>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Monitores</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Gerentes de
            Festa</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Recepcionistas
          </p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Garçons</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Equipe Copa</p>
        </div>
        <p style="color: white;">Todos os brinquedos da casa estarão disponíveis. Tudo servido à vontade no período da
          festa. O evento terá duração de 3 horas e 30 minutos + 30 minutos de tolerância (4h).</p>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFolia1">
            Saiba Mais
          </button>

          <div class="modal fade" id="modalFolia1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Folia 1</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="segundoPacote col-sm">
        <h5><p style="text-align: center; color: white;">Folia 2</p></h5>
        <div>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Monitores</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Gerentes de
            Festa</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Recepcionistas
          </p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Garçons</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Equipe Copa</p>
        </div>
        <p style="color: white;">Todos os brinquedos da casa estarão disponíveis. Tudo servido à vontade no período da
          festa. O evento terá duração de 3 horas e 30 minutos + 30 minutos de tolerância (4h).</p>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFolia2">
            Saiba Mais
          </button>

          <div class="modal fade" id="modalFolia2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Folia 2</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="terceiroPacote col-sm">
        <h5><p style="text-align: center; color: white;">Folia Escola</p></h5>
        <div>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Monitores</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Gerentes de
            Festa</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Recepcionistas
          </p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Garçons</p>
          <p style="text-align: center; color: white;"><i style="color: green;" class="fas fa-check"></i>Equipe Copa</p>
        </div>
        <p style="color: white;">Segunda à Quinta: 9h às 12h e 14h às 17h. Todos os brinquedos da casa liberados, exceto
          boate.</p>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFoliaEscola">
            Saiba Mais
          </button>

          <div class="modal fade" id="modalFoliaEscola" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Folia Escola</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <p>Convite virtual</p>
                        <p>Vela (numeral)</p>
                        <p>Mesa tema (dentro do catálogo)</p>
                        <p>Telão</p>
                        <p>Toalhas brancas (tipo sousplat)</p>
                        <p>Capas para cadeiras</p>
                        <p>Lembranças (30% dos convidados)</p>
                      </div>
                      <div class="col-sm">
                        <p>18 Tipos de salgados – N&N buffet</p>
                        <p>08 Tipos de doces – Maria Amélia</p>
                        <p>Bolo copa – Maria Amélia</p>
                        <p>Mousse de maracujá</p>
                        <p>Gelatina</p>
                        <p>Dindim</p>
                        <p>Espetinho de frango</p>
                      </div>
                      <div class="col-sm">
                        <p>Folheado de castanha e Nutella</p>
                        <p>Barquete de salpicão</p>
                        <p>Pão de queijo</p>
                        <p>Cachorro quente</p>
                        <p>Mini pizza – 2 sabores</p>
                        <p>Refrigerante</p>
                        <p>Coquetel sem álcool</p>
                        <p>Suco</p>
                        <p>Água</p>
                      </div>
                    </div>
                  </div>
                  <app-carousel></app-carousel>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contrato">
    <div class="container-fluid">
      <h1 style="text-align: center; color: purple; font-size: 3rem;">Contate-nos</h1>
      <div class="row">
        <div class="col-6">
          <div>
            <h3 style="text-align: center; color: purple;">Tire sua dúvida agora!</h3>
            <p style="font-size:2rem; text-align: center; color: purple;">Nos envie uma mensagem para que possamos esclarecer suas
              dúvidas!</p>
            <i style="font-size: 20rem; margin-left: 120px; margin-top: 100px; color: white;"
               class="far fa-envelope-open"></i>
          </div>
        </div>
        <div class="col-6">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1" style="color: white;">Seu nome</label>
              <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo">
            </div>
            <div class="form-group">
              <div>
                <label for="exampleFormControlInput1" style="color: white;">Endereço de e-mail para resposta</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu e-mail">
                <label style="color: white;">Digite seu número</label>
                <input type="number" class="form-control" id="exampleFormControlInput1"
                       placeholder="Seu número">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1" style="color: white;">Assunto</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite o assunto">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1" style="color: white;">Onde você deseja receber a resposta?</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Via e-mail</option>
                <option>Via WhatsApp</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" style="color: white;">Mensagem</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-sucess mb-2">Enviar Mensagem</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="rodape site-footer">
    <div class="footer-area-wrap">
      <div class="container">
        <section id="footer-area" class="footer-area widget-area row">
          <aside class="col-xs-12 col-sm-6 col-md-3 widget widget-about">
            <div style="margin-left: 40px; margin-top: 40px;">
              <img class="tamanhoImg img-fluid" src="./../assets/logo.png" alt="Casa da Folia">
            </div>
            <div style="margin-left: 60px; margin-top: 30px;">
              <a href="http://facebook.com/casadafolia" target="_blank"><i style="color: white; font-size: 1.29rem;"
                                                                           class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/casadafoliadf/" target="_blank">
                <i style="color: white; font-size: 1.29rem; margin-left: 20px;" class="fa fa-instagram"></i></a>
              <i style="color: white; font-size: 1.29rem; margin-left: 20px;" class="fa fa-pinterest"></i>
            </div>
          </aside>
          <aside style="margin-left: 60px; margin-top: 50px;" class="col-xs-12 col-sm-6 col-md-3 widget widget-about">
            <h3 class="widget-title" style=" margin-left:30px; color: white;">Contatos</h3>
            <div style="margin-top:40px;">
              <div>
                <i style="color: white; font-size: 1.29rem;" class="fa fa-thumbtack">
                </i>
                <p style="margin-left: 40px; margin-top: -30px; color: white;">SCRS Qd 514 Bloco C Loja 14 Asa Sul,
                  Brasília-DF 70.380-535</p>
              </div>
              <div>
                <i style="color: white; font-size: 1.29rem;" class="far fa-envelope"></i>
                <p style="margin-left:40px; margin-top: -30px; color: white;">adm.casafolia@gmail.com</p>
              </div>
              <div style="margin-top: 50px;">
                <i style="color: white; font-size: 1.29rem;" class="fas fa-phone"></i>
                <p type="number" style="margin-left:40px; margin-top: -37px; color: white; font-size: 2rem;">
                  (61)3346-0046</p>
              </div>
            </div>
          </aside>
          <aside style="margin-top: 50px;" class="col-xs-12 col-sm-6 col-md-3 widget widget-about">
            <h3 style="margin-left: 60px; color: white;">Localização</h3>
            <div style="margin-top: 40px; margin-left: 50px;">
              <iframe class="mapa"
                      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d959.6497475351105!2d-47.92305600000001!3d-15.825085000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6234ee6b6be91354!2sCasa+da+Folia!5e0!3m2!1spt-BR!2sus!4v1519242610994"
                      frameborder="0" allowfullscreen="">
              </iframe>
            </div>
          </aside>
        </section>
      </div>
      <div style="margin-top: 50px;"></div>
    </div>
  </footer>
</div>
</body>
</html> 
