
html, body {
	padding: 0;
	width: 100%;
	height: 100%;
}

.primeiraParte {
	overflow: hidden;
	padding: 1%;
  background-color: #fd464e;
	
}

.fotos {
	width: 100%;
	height: 800px;
	padding: 1%;
	background-color: white;
}

.segundaParte {
	padding: 1%;
	background-color: #00ffdc;
	float: left;
}

.imagemInterna {
	width: 40%;
	height: 70%;
	padding: 1%;
	margin-top: -50%;
	border-radius: 10px;
	background-color:#ffc107;

}

.mapa {
	border-radius: 10px;
	height: 300px;
	width: 300px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.letraInicio {
	text-align: center;
	margin-top: 10%;
}

.primeiroPacote {
	border-radius: 10px;
	background-color:#0927bb;

}

.segundoPacote {
	border-radius: 10px;
	background-color:#0927bb;

}

.terceiroPacote {
	border-radius: 10px;
	background-color:#0927bb;
}

.titulo {

	color:purple; 
	font-size: 6rem;
	font-family: Lato, sans-serif;
	font-style: normal;
}

.tituloPrimeiraParte {
	font-style: normal;
	font-family: Gotham	, gotham;
	letter-spacing: -3px;
	font-size: 6rem;
	color: red;
}

.contrato {
	width: 100%;
	padding: 1%;
	background-color: green;
	float: left;
}

.quintaParte {
	width: 100%;
	padding: 1%;
	background-color: pink;
	float: left;
}

.containerr {
  margin: auto;
  position: relative;
  transform-origin: bottom left;
  transform: rotate(-61deg);
  height: 200px;
  width: 200px;
}

.rodape {
	width: 100%;
	float: left;
	background-color: purple;
}

img {
	max-width: 100%;
	height: 117px;
}

.tamanhoImg {
	height: 60px; 
	width: 200px;
	padding: 1%;
}

.containerr div {
  display: inline-block;
  font: 300 4.5em Monaco, Monospace;
  color: #000000;
  height: 300px;
  width: 230px;
  margin-top: 40px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  text-align: center;
  color: red;
}

.tamanhoCampos {
	margin-left: 20px;
	width: 550px;
}

